# Compiled sources
*.pyc
__pycache__

# Output dir
generated_books

# Generated folders
abstruse
anythingcomic
argyle
asp
benton
berkeley
boulet
boulet_en
breakofday
brevity
butter
calvin
channelate
chuckleaduck
compensating
completelyserious
cyanide
dilbert
dinosaur
discobleach
doghouse
efc
fatawesome
fowllanguage
garfield
gentlemanarmchair
happletea
horovitzclassic
horovitznew
invisiblebread
loadingartist
lunarbaboon
mrlovenstein
nedroid
offthemark
oscillating
paintrain
pbf
peanuts
pearls
penmen
phd
picturesinboxes
poorlydrawn
ramirez
rapture
smbc
somethingofthatilk
squares
sunny
thor
threeword
toles
toonhole
tubeytoons
vegetables
warehouse
wondermark
wuerker
wumo
xkcd
znoflats
