# Compiled sources
*.pyc
__pycache__

# Output dir
generated_books

# Generated folders
1111
1111-tapa
1111-tumblr
abstruse
absurdity
angry
angry-tapa
anythingcomic
anythingcomic-tapa
argyle
asp
aurel
avalanche
bagieu
benton
berkeley
berkeley-goc
berkeley-tumblr
bigfoot
bigfoot-tapa
biter
blues
boulet
boulet-tumblr
boulet_en
boumeries_en
boumeries_fr
breakofday
brevity
buni
bunny
butter
calvin
calvin-goc
cancerowl-tumblr
channelate
chuckleaduck
circumsolar
commit_en
commit_fr
compensating
completelyserious
cornella-tumblr
cubedrone
cuek-tapa
cuek-tumblr
culottees
cyanide
deadly
deadly-tapa
depressedalien
devin
diamond
dilbert
dilem
dinosaur
discobleach
doghouse
efc
endangered
endangered-tumblr
extralife
fatawesome
fatawesome-tumblr
flatworld-tapa
flatworld-tumblr
flocci
forpeace
fowllanguage-goc
fowllanguage-tapa
fowllanguage-tumblr
garfield
garfield-goc
geek
gentlemanarmchair
gerbil
gorce
hallbeck-tumblr
hallbeckbiff-tapa
hallbeckmaxi-tapa
hallbeckmini-tapa
ham
happletea
heck-tapa
heck-tumblr
horovitzclassic
horovitznew
invisiblebread
irwinc
jetpack
jhall-tumblr
justsayeh
justsayeh-tapa
lack
lastplace
leleoz-tapa
leleoz-tumblr
loadingartist
lolnein-tumblr
luckovich
lunarbaboon
lycee
mercworks
mercworks-tumblr
millsap
monkey
mousebear
mousebear-tumblr
mrlovenstein
nedroid
nhoj
nuggets
oatmeal-tumblr
octopuns
octopuns-tumblr
offthemark
oglaf
optipess
origami
oscillating
owlturd-tapa
owlturd-tumblr
paintrain
pbf
peanuts
pearls
pearshaped
penmen
phd
picturesinboxes
picturesinboxes-tumblr
pie
pigeon-tapa
pigeon-tumblr
planc
plantu
pond
poorlydrawn
poorlydrawn-tumblr
pundemonium
quarktees
rall
rall-goc
ramirez
randowis-tapa
rapture
rapture-tapa
respawn
respawn-tumblr
sandersen-goc
sandersen-tapa
satw
sheldon
sheldon-goc
smbc
somethingofthatilk
spiral-tumblr
squares
stoopid
stupid
stupid-tapa
sunny
theodd-tapa
theodd-tumblr
thor
thor-tapa
threeword
threeword-tumblr
tie
tie-tumblr
timetrabble-tumblr
toles
toonhole
toonhole-tapa
tubeytoons
tubeytoons-tapa
tubeytoons-tumblr
tumbledry-tapa
underfold-tumblr
unearthed
unearthed-tapa
unearthed-tumblr
upandout
upandout-tapa
usual-tapa
usual-tumblr
vector
vegetables
vidberg
warehouse
wondermark
wuerker
wumo
xkcd
yeti
yeti-goc
yeti-tapa
yeti-tumblr
zenpencils
zenpencils-tumblr
zep
znoflats
