# Compiled sources
*.pyc
__pycache__

# Output dir
generated_books

# Generated folders
abstruse
anythingcomic
argyle
asp
aurel
benton
berkeley
biter
blues
boulet
boulet_en
breakofday
brevity
buni
butter
calvin
calvin-goc
channelate
chuckleaduck
compensating
completelyserious
cyanide
devin
dilbert
dinosaur
discobleach
doghouse
efc
extralife
fatawesome
forpeace
fowllanguage
garfield
gentlemanarmchair
gorce
happletea
horovitzclassic
horovitznew
invisiblebread
irwinc
lastplace
loadingartist
luckovich
lunarbaboon
mercworks
millsap
monkey
mrlovenstein
nedroid
octopuns
offthemark
oglaf
origami
oscillating
paintrain
pbf
peanuts
pearls
penmen
phd
picturesinboxes
plantu
poorlydrawn
rall
ramirez
rapture
sandersen-goc
sandersen-tapa
satw
smbc
somethingofthatilk
squares
sunny
thor
threeword
toles
toonhole
tubeytoons
vegetables
vidberg
warehouse
wondermark
wuerker
wumo
xkcd
yeti
zep
znoflats
